<body data-ng-app="dithat">
  <div class="container" data-ng-controller="accomplishmentController">
      <p> What'd you do? </p>
      <form ng-submit="submit()">
          <input type="text" ng-model="newAccomp" />
      </form>
      <div data-ng-repeat="accomp in accomplishments | filter:newAccomp" >
          <div class="box" ng-click="addToCount()">
            <div class="accomplishment">
          {{ accomp.name }}
                <a href="#" ng-click="delete()" class="x">x</a>
                <p class="count"> {{ accomp.count }} </p>
            </div>
          </div>
      </div>
  </div>  <!-- end class-container accomp-ctrl  -->
</body>
